body{
    background-color: #0A66C2;
}
.btn{
    display:none;
    width: 15rem;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-select-profile{
    width: 6rem;
}
.btn-import-data{
    width: 6rem;
}
.btn-add-profile{
    width: 6rem;
}
.disclaimer{
    font-weight: 500;
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-weight: 800;
}
.btn-import-data{
    width: 120px;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 12px;
    /* font-style:oblique; */
    font-weight:900;
}
.btn-open-profile{
    width: 120px;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 12px;
    /* font-style:oblique; */
    font-weight:900;
}
.btn-import-data:hover{
    padding: 8px;
   
   font-weight: 900;
}
.btn-open-profile:hover{
    padding: 8px;
   
   font-weight: 900;
}